# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\ANJANA_DOCS\univofmichigan\SEMESTER2_FALL2022\WEBTECHNOLOGY\ASSIGNMENTS\Assignement7\employee-mamangement-system-ui\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
